<div class="container">

    <h1>About Us</h1>

    <p>
        Hello! This is a recipe website using the Edamam API! I made this website
        to practise my web development skills. I hope you like it and the design
        (and the recipes of course). Enjoy breakfast/lunch/dinner!
    </p>

    <p>
        Here's some random images to fill up the empty space on this page lol:
    </p>

    <br/>

    <img class="big-img" src="images/sushi.jpeg" alt="sushi"/>
    <img class="big-img" src="images/sashimi.jpeg" alt="sashimi"/>
    <img class="big-img" src="images/ramen with background.jpeg" alt="ramen"/>

</div>    