<div class="hero">
    <img class="big-img" src="/images/Udon-bg-bowl.png" alt="japanese udon bowl">
    <div id="hero-text">
        <h1>Browse, Save, Edit Your FAVE Recipes!</h1>
        <p>Just search for a dish and a recipe will be sent your way in seconds. Save your favorite recipes for later. Filter recipes according to your dietary requirements.</p>
    </div>
</div>
