* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: white;
}

:root {
    --red: #871414c8;
    --trans-red: #b0181843;
    --light-pink: #d59696;
    --dark-pink: rgb(184, 126, 126);
    --trans-grey: rgba(255, 255, 255, 0.56);
    --grey: rgb(206, 206, 206);
}


body {
    background: black;
}

main {
    min-height: 100svh;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
select,
textarea {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.3rem 0.75rem;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--trans-grey);
    border-radius: 10px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
    z-index: 300;
}

.nav-solid {
    background-color: black !important;
    transition: background-color 300ms linear;
}

.logo {
    font-size: 24px;
    text-decoration: none;
    font-weight: 700;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    position: relative;
    font-size: 12.8px;
    font-weight: 400;
    text-decoration: none;
    margin-left: 40px;
}

.navbar form {
    display: flex;
    margin-left: 40px;
}

.navbar #nav-search {
    border-radius: 50px;
    border-width: 0;
    font-size: .8rem;
    color: black;
    padding: .3rem 0.75rem!important;
}

.navbar #nav-search-btn {
    border: none;
    background: transparent;
    padding: 0px 10px;
}

.navbar #nav-search-btn svg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar #nav-search-btn svg path {
    stroke: white;
    stroke-width: .9px;
}

.btn {
    border-radius: 50px;
}

.btn:hover {
    cursor: pointer;
}

.navbar a::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    width: 0;
    height: 0.5px;
    background: white;
    transition: 1s cubic-bezier(0.19,1,0.22,1);
}

.navbar a:hover::before {
    width: 100%;
}

#menu-icon {
    cursor: pointer;
    display: none;
}

footer {
    width: 100%;
    padding: 25px 100px;
    background: transparent;
    font-size: 12.8px;
    font-weight: 400;
}

footer .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-bottom: 25px;
    gap: 25px;
}

footer .socials a {
    opacity: 70%;
    transition: .5s;
}

footer .socials a:hover {
    opacity: 100%;
}


footer .links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding-bottom: 25px;
}

footer .links a {
    position: relative;
    text-decoration: none;
}

footer .links a::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    width: 0;
    height: 0.5px;
    background: white;
    transition: 1s cubic-bezier(0.19,1,0.22,1);
}

footer .links a:hover::before {
    width: 100%;
}

footer .copyright {
    text-align: center;
    opacity: 70%;
}

h1 {
    margin-bottom: 30px;
}

.error-page {
    display: flex;
    align-items: center;
    gap: 50px;
    height: clamp(200px, calc(30vw), 500px);
    justify-content: center;
}

.error-message {
    font-size: clamp(50px, calc(10vw), 300px);;
}

.error-img {
    height: 100%;
}

.recipe-ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.recipe-ul a {
    text-decoration: none;
}

.recipe-ul h2:hover {
    text-decoration: underline;
}

.recipe-card {
    display: flex;
    flex-direction: column;
    padding: 10%;
    border: 2px var(--dark-pink) solid;
    border-radius: 10px;
    background-color: var(--trans-red);
    gap: 15px;
    height: clamp(450px, calc(40vw), 600px);
    transition: background-color .5s, transform .5s, filter .5s;
}

.recipe-card:hover {
    filter: drop-shadow(0px 0px 40px var(--light-pink));
    background-color: var(--red);
    transform: scale(1.04);
    transition: all .5s;
}

.recipe-img {
    width: 100%;
}

.recipe-text {
    height: 100%;
    overflow: scroll;

    &::-webkit-scrollbar {
        width: 0px;
    }
}

.subtext {
    color: var(--grey);
    font-weight: 700;
}

.diet-labels {
    display: flex;
    flex-wrap: wrap;
    color: var(--grey);
}

#hero-img {
    height: clamp(200px, calc(25vw), 400px);
    filter: drop-shadow(0 0 clamp(100px, calc(10vw), 200px) var(--trans-grey));
}

#hero-text h1 {
    font-size: clamp(1.13rem, calc(1rem + 2vw), 4rem);
    margin-bottom: 10px;
}

#hero-text p {
    font-size: clamp(0.9rem, calc(0.4rem + 1vw), 2rem);
}

.hero {
    display: flex;
    padding: 150px 100px;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.container {
    padding: 100px;
    gap: 40px;
}

@media (max-width: 900px) {
    .hero {
        padding: 90px 5%;
        justify-content: center;
        flex-direction: column;
    }

    #hero-img {
        height: clamp(250px, calc(50vw), 350px);
    }

    #hero-text h1 {
        font-size: clamp(1rem, calc(1rem + 3vw), 2.5rem);
    }
    
    #hero-text p {
        font-size: 1rem;
    }

    header {
        padding: 10px 5%;
    }
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: 5%;
        border-radius: 10px;
        align-items: center;
        flex-direction: column;
        padding: 20px 30px;
        gap: 10px;
        background-color: var(--red);
        border: var(--dark-pink) solid .5px;
        filter: drop-shadow(0px 0px 10px var(--light-pink));
        display: none;
    }

    .navbar a {
        margin: 0;
        font-size: 1rem;
    }

    .navbar a::before {
        top: 25px;
    }

    .navbar.open {
        display: flex;
    }

    .navbar form {
        margin: 0;
    }

    .container {
        padding: 120px 5%;
    }

    .error-page {
        margin-top: 10%;
        flex-direction: column-reverse;
        gap: 0px;
    }

    .error-message {
        font-size: clamp(3rem, calc(2rem + 10vw), 10rem);
    }

    .recipe-img {
        height: 100%;
        width: auto;
    }

    .recipe-ul {
        display: flex;
        flex-direction: column;
    }

    .recipe-card {
        max-height: 400px;
        height: clamp(250px, calc(40vw), 350px);
        gap: 30px;
        flex-direction: row;
        padding: clamp(10px, calc(40vw), 40px);
    }
}
