* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: white;
}

body {
    min-height: 100vh;
    background: black;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.56);
    border-radius: 10px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
    z-index: 300;
    transition: background-color 300ms linear;
}

.nav-solid {
    background-color: black !important;
    transition: background-color 300ms linear;
}

.logo {
    font-size: 24px;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 12.8px;
    font-weight: 400;
    text-decoration: none;
    margin-left: 40px;
    transition: all 1s, margin-left 0ms;
}

.navbar a::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    width: 0;
    height: 0.5px;
    background: white;
    transition: 1s cubic-bezier(0.19,1,0.22,1);
}

.navbar a:hover::before {
    width: 100%;
}

#menu-icon {
    cursor: pointer;
    display: none;
}

footer {
    width: 100%;
    padding: 25px 100px;
    background: transparent;
    font-size: 12.8px;
    font-weight: 400;
}

footer .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-bottom: 25px;
    gap: 25px;
}

footer .socials a {
    opacity: 70%;
    transition: .5s;
}

footer .socials a:hover {
    opacity: 100%;
}


footer .links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding-bottom: 25px;
}

footer .links a {
    position: relative;
    text-decoration: none;
}

footer .links a::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    width: 0;
    height: 0.5px;
    background: white;
    transition: 1s cubic-bezier(0.19,1,0.22,1);
}

footer .links a:hover::before {
    width: 100%;
}

footer .copyright {
    text-align: center;
    opacity: 70%;
}

.container {
    padding: 30px 100px;
    display: flex;
}

#hero-img {
    height: clamp(200px, calc(25vw), 400px);
    filter: drop-shadow(0 0 clamp(100px, calc(10vw), 200px) #fdfcfc9f);
}

#hero-text h1 {
    font-size: clamp(1.13rem, calc(1rem + 2vw), 4rem);
    margin-bottom: 10px;
}

#hero-text p {
    font-size: clamp(0.9rem, calc(0.4rem + 1vw), 2rem);
}

.hero {
    display: flex;
    padding: 120px 100px;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

@media (max-width: 750px) {
    .hero {
        padding: 10% 5%;
        justify-content: center;
        flex-direction: column;
    }

    #hero-img {
        height: clamp(250px, calc(50vw), 350px);
        margin-top: 20px;
    }

    #hero-text h1 {
        font-size: clamp(1rem, calc(1rem + 3vw), 2.5rem);
    }
    
    #hero-text p {
        font-size: 1rem;
    }

    header {
        padding: 10px 5%;
        transition: .5s;
    }
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: 5%;
        border-radius: 10px;
        align-items: center;
        flex-direction: column;
        padding: 20px 30px;
        gap: 10px;
        background-color: #b01818e7;
        border: rgb(184, 126, 126) solid .5px;
        filter: drop-shadow(0px 0px 10px #d59696);
        transition: all .5s, border-radius 0ms;
        display: none;
    }

    .navbar a {
        margin: 0;
    }

    .navbar.open {
        display: flex;
    }
}
